@model Dishe

<form asp-action="AddDishe" asp-controller="Home" method="post">
    <div class="container">
        <div class="row">
            <!-- Colonne Gauche -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ChefId">Chef</label>
                    <select asp-for="ChefId" class="form-select">
                        <option value="">---- Select Chef ----</option>
                        @foreach (var chef in ViewBag.AllChefs)
                        {
                            <option value="@chef.ChefId">@chef.FirstName @chef.LastName</option>
                        }
                    </select>
                    <span asp-validation-for="ChefId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DisheName"></label>
                    <input asp-for="DisheName" class="form-control" />
                    <span asp-validation-for="DisheName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>

            <!-- Colonne Droite -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Calories"></label>
                    <input asp-for="Calories" class="form-control" />
                    <span asp-validation-for="Calories" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Tostiness"></label>
                    <select asp-for="Tostiness" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <span asp-validation-for="Tostiness" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group text-center mt-4">
            <input type="submit" value="Add Dishe" class="btn btn-info">
        </div>
    </div>
</form>
